<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head> <!-- Merge -->
	<!--
		CWB-205 Complete Web Scripting
		Final Project: Flashcard Game

		Author: Michael Nel
		Date: 28/9/21

		Filename: 			flashcards.html
		Supporting Files: 	[tbd]
	-->

	<title>Flashcard Study Game</title>

	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<script type="text/javascript" src="js/menus.js"></script>
	<script type="text/javascript" src="js/flashcarddata.js"></script>
	<script type="text/javascript" src="js/flashcards.js"></script>

</head>

<body>
	<div id="container"></div>
		<div id="clickBox">
			<h1>Play the Flashcard Game!</h1>
			<p>(Click a flashcard set to play)</p>
			<div id="sidebar">
			</div>

			<div id="flashcards">
			</div>
			<div id="questions">
			</div>

		</div>

	</div><!-- #container -->

</body>
</html>